$white:                     #fff;
$black:                     #000;
$green:                     #169679;
$gray:                      #999;

$border-color:              #dbdbdb;
$header-color:              #f5f5f5;
$searchWrapperBg:           rgba(0,0,0,0.75);
$footer-background: 		#262626;
$footer2-background:		#2C3E50;