$white:                     #fff;
$black:                     #000;
$green:                     #169679;
$gray:						#999;
$border-color:              #dbdbdb;
$header-color:              $white;
$searchWrapperBg:           rgba(0,0,0,0.75);
