.footer {
  display: flex;
  justify-content: space-between;
  font-size:$main-font-size;
  background: $footer-background;
  padding: 20px;
  color: $white;
  font-weight:bold;

  section {
    position: relative;
    margin-left: auto;
    right: 15px;
    height: 22px;

    a {
      position: relative;
      color: $white;
      top: 12px;
      font-size: $main-font-size + 2;
      padding: 0 5px;
    }

  }

}

.back-to-top {
  background: #333;
  color: $green;
  border: none;
  height: 40px;
  width: 40px;
}

.footer2 {
    display: flex;
    background: $footer2-background;
    color: $white;
    justify-content: space-around;
    padding: 3% 2% 4%;

    > div {
      width: 33.333333%;
    }

    .textwidget {
      font-size: 14px;
    }

    h3 {
      font-size: 18px;
    }

    a {
      color: $white;
    }

    ul {
      list-style: none;
      padding: 0;
      font-weight: bold;
      font-size: 14px;
    }

}

.tagcloud {
  display: flex;
  flex-wrap: wrap;

  a {
    font-size: 12px !important;
    font-weight: bold;
    border: 1px solid;
    padding: 9px 14px;
    margin: 0 2% 3% 0;

    &:hover { background: $green; }

  }

}

@media only screen and (max-width: 660px) {

  .footer2 {
    flex-direction: column;

    > div {
      width: 100%;
    }

  }

}
