 .featured-listings{
    text-align: center;
    width: 100%;
    background: #f5f5f5;
    padding: 30px 20px 60px 20px
}

.IDX-carouselPrice {
    font-size: $main-font-size;
    font-weight: bold;
}

#IDX-carouselGallery-11486 {
    width: 100%;
    margin: 20px 0px;
}

.IDX-carouselCell {
    min-width: 140px;
    box-sizing: border-box;
    display: inline-block;
    width: 270px;
    background: #fff;
}

.IDX-carouselContainer {
    height: auto;
}

.IDX-carouselContainer .IDX-carouselLink {
    height: auto;
}

.IDX-carouselContainer .IDX-carouselLink:before {
    height: auto;
}

.IDX-carouselPhoto {
    max-height: 100% !important
}

a.IDX-carouselArrow {
    opacity: 0.75;
}

.IDX-outerCarouselWrapper {
    overflow: hidden;
}

.IDX-innerCarouselWrapper {
    position: relative;
    overflow: hidden;
}

.IDX-carouselCell {
    display: none;
    border: 1px solid #F0EFF2;
    -webkit-box-shadow:none;
    box-shadow: none;
    padding: 4px;
    padding-bottom:20px;
    vertical-align: top;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.IDX-carouselLink {
    height: 100%;
    width: 100%;
    font-size: 0;
    text-align: center;
    display: inline-block;

    &:before {
      height: 100%;
      content: "";
      display: inline-block;
      vertical-align: middle;
    }

}

.IDX-carouselPhoto {
    max-width: 100%;
    max-height: 110px;
    display: inline-block;
    vertical-align: middle;
}

a.IDX-carouselArrow span {
    display: block;
    position: absolute;
    width: 100%;
    top: 50% !important;
    margin-top: -40%;
    font-size: 35px !important;
    font-weight: bolder;
}

a.IDX-carouselArrow {
    display: block;
    position: absolute;
    background: transparent;
    height: 100%;
    width: 40px;
    top: 0;
    text-decoration: none;
    text-align: center;

    &:hover, &:visited {
        color: $black;
        font-size: 20px;
    }

}

a.IDX-carouselPrevArrow {
    left: 0;
    border-radius: 5px 0 0 5px;
}

a.IDX-carouselNextArrow {
    right: 0;
    border-radius: 0 5px 5px 0;
}

.IDX-carouselCell div {
    text-align: center;
}

.IDX-carouselListingID,
.IDX-carouselBeds,
.IDX-carouselBaths,
.IDX-carouselFull,
.IDX-carouselPartial,
.IDX-carouselRemarks,
.IDX-carouselDisclaimerLink,
.IDX-carouselStatus,
.IDX-carouselStateAbrv {
    display: none;
}

.IDX-carouselContainer {
    position: relative;
}

.IDX-showcaseCourtesy {
    display: block;
}
