 .slider{
    text-align: center;
    width:100%;
    background:#f5f5f5;
    padding:30px 20px;

       
}
 .IDX-carouselPrice {
            font-size:$main-font-size;
            font-weight: bold;
        }

        h1 {font-size: $main-font-size + 25}

        #IDX-carouselGallery-11486 {
            width: 100%;
            margin: 20px 0px;
        }
        #IDX-carouselGallery-11486 .IDX-carouselCell {
            min-width: 140px;
        }
        #IDX-carouselGallery-11486 .IDX-carouselContainer {
            height: auto;
        }
        #IDX-carouselGallery-11486 .IDX-carouselContainer .IDX-carouselLink {
            height: auto;
        }
        #IDX-carouselGallery-11486 .IDX-carouselContainer .IDX-carouselLink:before {
            height: auto;
        }
        #IDX-carouselGallery-11486 .IDX-carouselPhoto {
            max-height: 100%!important
        }
        #IDX-carouselGallery-11486 a.IDX-carouselArrow {
            opacity: 0.75;
        }
        #IDX-carouselGallery-11486 {
            display: inline-block;
            font-size: 11px;
            position: relative;
        }
        #IDX-carouselGallery-11486 .IDX-outerCarouselWrapper {
            overflow: hidden;
        }
        #IDX-carouselGallery-11486 .IDX-innerCarouselWrapper {
            position: relative;
            overflow: hidden;
        }
        #IDX-carouselGallery-11486 .IDX-carouselCell {
            display: none;
            border: 1px solid #F0EFF2;
            -webkit-box-shadow:none;
            box-shadow: none;
            padding: 4px;
            padding-bottom:20px;
            vertical-align: top;
            box-sizing: content-box;
            -moz-box-sizing: content-box;
        }
        #IDX-carouselGallery-11486 .IDX-carouselLink {
            height: 100%;
            width: 100%;
            font-size: 0;
            text-align: center;
            display: inline-block;
        }
        #IDX-carouselGallery-11486 .IDX-carouselLink:before {
            height: 100%;
            content: "";
            display: inline-block;
            vertical-align: middle;
        }
        #IDX-carouselGallery-11486 .IDX-carouselPhoto {
            max-width: 100%;
            max-height: 110px;
            display: inline-block;
            vertical-align: middle;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselArrow {
            display: block;
            position: absolute;
            background: transparent;
            width: 40px;
            text-decoration: none;
            text-align: center;
            height: 100%;
            top: 0;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselPrevArrow {
            left: 0;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselNextArrow {
            right: 0;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselArrow,
        #IDX-carouselGallery-11486 a.IDX-carouselArrow:hover,
        #IDX-carouselGallery-11486 a.IDX-carouselArrow:visited {
            color: $black!important;
            font-size: 20px;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselPrevArrow {
            border-radius: 5px 0 0 5px;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselNextArrow {
            border-radius: 0 5px 5px 0;
        }
        #IDX-carouselGallery-11486 a.IDX-carouselArrow span {
            display: block;
            position: absolute;
            width: 100%;
            top: 40%;
            margin-top: -40%;
            font-size: 55px;
            font-weight: bolder;
        }
        #IDX-carouselGallery-11486 .IDX-carouselCell div {
            text-align: center;
        }
        #IDX-carouselGallery-11486 .IDX-carouselListingID,
        #IDX-carouselGallery-11486 .IDX-carouselBeds,
        #IDX-carouselGallery-11486 .IDX-carouselBaths,
        #IDX-carouselGallery-11486 .IDX-carouselFull,
        #IDX-carouselGallery-11486 .IDX-carouselPartial,
        #IDX-carouselGallery-11486 .IDX-carouselRemarks,
        #IDX-carouselGallery-11486 .IDX-carouselDisclaimerLink,
        #IDX-carouselGallery-11486 .IDX-carouselStatus,
        #IDX-carouselGallery-11486 .IDX-carouselStateAbrv {
            display: none;
        }
        #IDX-carouselGallery-11486 .IDX-carouselContainer {
            position: relative;
        }
        #IDX-carouselGallery-11486 .IDX-showcaseCourtesy {
            display: block;
        }
