  #menu {
    display: none;
      @media (min-width: 661px){
        display: block;            
      }
  }
  #mobile-menu {
    display:block;
    position: absolute;
    background: transparent;
    color: $green;
    font-size: 45px;
    margin: 20px;
    .fa {
      cursor:pointer;
    }
        @media (min-width: 661px){
          display:none;
        }
  }
   #open{
    display: block;
  }

  #close{display:none;}