


//  @mixins
// ---------

@mixin transition($ease: 0.3s) {
   -webkit-transition: all $ease ease-in-out;
    -moz-transition: all $ease ease-in-out;
    -o-transition: all $ease ease-in-out;
    transition: all $ease ease-in-out;
}
@mixin color-transform($ease: 0.2s) {
   -webkit-transition: color $ease ease;
    -moz-transition: color $ease ease;
    -ms-transition: color $ease ease;
    -o-transition: color $ease ease;
    transition: color $ease ease;
}
@mixin transform($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);               
}
@mixin rotate($deg){
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

// Nav
// --------

nav {
  background: $white;
        
    a {
      
      color: $black;
      font-size: $main-font-size;
      font-weight: bold;
      float: left;
      padding: 17px 15px 17px 15px;
      text-decoration: none;
      text-transform: uppercase;
      @include color-transform;
      
      &:hover {
        color: $green;
      }
      @media(max-width:660px){
        width: 100%;
        text-align: center; 
      }

    }

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: flex-end;
      margin: 0px;
        @media(max-width:660px){
              flex-direction: column;
              justify-content: center;
              width: 100%;
              padding: 0px;
        }
          @media(min-width:661px){
            &.sub-menu {
            position: absolute;
            z-index: 99;
            flex-wrap: wrap;
            margin-top: 50px;
            justify-content: flex-start;
            -webkit-padding-start: 0px;
          }
          &:hover {
            display:flex;
          }

        }

        li {
          padding: 0px 15px;
          display: flex;
          flex-wrap: wrap;
            @media(max-width:660px){
              padding:0px;
            }
          &:last-child {
            margin-right: 0 !important;
            padding-right: 0 !important;
          }

          &:hover {
            @media(min-width:661px){
                ul {
                  height: 30px;
                  opacity: 1;
                  @include transform(1);
                  

                  li {
                    height: 30px;
                    opacity: 1;
                    @include transform(1);
                    
                  }

                }

              a {color:$green;}
            }
          }

        &.menu-item-has-children {
            
            &:hover{

              ul{
                opacity: 1;
                 @include transform(1);
              }

            }

            ul {
              @media(min-width:661px){
                opacity: 0;
                 @include transform(0.1);
                 @include transition;
              }
            }

            a {
              padding-right: 11px;

                  &:after {
                    position: relative;
                    top: -2px;
                    right: 0px;
                    width: 6px;
                    height: 6px;
                    margin-left: 5px;
                    margin-right: 3px;
                    border-bottom: 2px solid #000000;
                    border-right: 2px solid #000000;
                    content: "";
                    @include rotate (45deg);
                    @include transition;
                    transition: all ease 0.3s;
                    display: inline-block;
                  }

            }

            &:hover {
              @media(min-width:661px){
                  a {
                    color: $green;

                    &:after {
                      border-color: #019779;
                       @include rotate (222deg);
                      transition: all ease 0.3s;
                    }

                  }

                  ul {
                    background: $white;
                    display: flex;
                    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
                                      // ul li ul li
                      li {
                        display: flex;
                      }


                    }
                  }

                }

              }


            a {
                color: $black;
                font-size: $main-font-size - 4;
                font-weight: bold;
                padding: 17px 15px 17px 15px;
                text-decoration: none;
                text-transform: uppercase;
                @include color-transform;

                &:hover {
                  color: $green;
                }

              }

              ul {
                background:none;

                  li {
                      @media(min-width:661px){
                      display:none;
                      height: 0;
                      padding: 0 0px;
                      margin: 0 0 0px;
                      opacity: 0;
                      @include transform(0.1);
                      @include transition;
                  }
                    a {
                      width: 150px;
                      padding: 10px 15px;
                      background: none;
                      text-decoration: none;
                      font-size: 12px;
                      line-height: 10px;
                      font-weight: bold;
                      color: $black;
                      background: $white;
                      text-decoration: none;
                      text-transform: uppercase;
                      @include color-transform;
                      &:after{visibility:hidden;}

                       @media(max-width:660px){
                           color: $green;
                           width:100%;
                       }

                    }

                    &:hover{
                      color:$green;
                    }

                  }

                }

              }

        }
        
  }
