.sidebar-widget {
    display: flex;
    justify-content: space-around;

    @media(max-width:660px) {
      flex-wrap: wrap;
    }

    article {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      margin: 0px 20px;
      height: 140px;

      &:after {
        content: "";
        position: relative;
        top: 5px;
        width: 100%;
        max-width: 650px;
        border-bottom: 1px solid $border-color;
      }

    }

    .post_thumb {
      width: 15%;
    }

    .post_body {
      width: 85%;
      padding: 10px;

      h5 {
        font-size: 20px;
        margin: 10px 0px;

      a {
        color: #2c3e55;
        transition: all 0.3s ease-in-out 0s;

        &:hover{ color:#019779; }

      }

    }

    h6 {
      font-size: $main-font-size;
      margin: 5px 0px;

      a {
        color: #2c3e55;
        transition: all 0.3s ease-in-out 0s;

        &:hover{ color: #019779; }

      }

    }

   }

 }

aside.sidebar {
  width: 100%;
}

.widget_siteorigin-panels-postloop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;
}

div#mortgage-calculator-2 {
  width: 50%;
}

div#lidd_mc_widget-2 {
  width: 50%;
}
