.IDX-quicksearchWrapper {
	background: $searchWrapperBg;
	color: #fff;
	padding: 2em;
	font-family: Helvetica, Arial, sans-serif;
	box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.72);

	.IDX-qsInput {
		border: none;
		padding: .5em 1em;
	}

	#IDX-quicksearchForm-12672 {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.IDX-qsLabel {
		display: block;
		padding-bottom: .5em;
		vertical-align: top;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.IDX-qsSelectInput {
		height: 25px;
	}

	#IDX-qsSubmit-12672[type='submit'] {
		background: $green;
		color: $white;
		margin-top: 10px;
		font-size: 12px;
	}

}

#IDX-quicksearchForm-12672 .IDX-qsInput {
	margin: 0 2px;
	width: 100px;
}
