.IDX-showcaseContainer{
  min-height: 300px;
  padding: 20px;
  box-shadow: none;
  border: 1px solid $border-color;

  &:after {
    content: "";
    position: absolute;
    display: block;
  }

}

.IDX-showcaseAddress.IDX-showcaseAddressElement {
    font-size: 16px;
    font-weight: bold;
}
