/* MISC > to be moved ... */
.IDX-quicksearchWrapper {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.72);
}
.IDX-quicksearchWrapper .IDX-qsInput {
  border: none;
  padding: 0.5em 1em;
}
.IDX-quicksearchWrapper #IDX-quicksearchForm-12672 {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
}
.IDX-quicksearchWrapper .IDX-qsLabel {
  display: block;
  padding-bottom: 0.5em;
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: bold;
}
.IDX-quicksearchWrapper .IDX-qsSelectInput {
  height: 25px;
}
.IDX-quicksearchWrapper #IDX-qsSubmit-12672[type='submit'] {
  background: #169679;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
}
#IDX-quicksearchForm-12672 .IDX-qsInput {
  margin: 0 2px;
  width: 100px;
}
.boxes {
  display: flex;
  position: relative;
  padding: 5em 2em 2em 2em;
  justify-content: space-around;
  text-align: center;
}
.boxes h2 {
  font-size: 18px;
}
.boxes p {
  font-size: 14px;
}
.box {
  position: relative;
  margin: 2em;
  padding: 30px 15px 40px;
  max-width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.box:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #fff;
  width: 75px;
  height: 75px;
  top: -15%;
  margin-left: -10%;
  border: 1px solid #dbdbdb;
}
@media only screen and (max-width: 660px) {
  .boxes {
    flex-direction: column;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*-------
  nav
---------*/
}
nav {
  background: #fff;
}
nav a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding: 20px;
}
nav a:hover {
  color: #169679;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  margin: 0px;
}
nav ul li {
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
}
nav ul li a {
  font-size: 16px;
  font-weight: bold;
}
nav ul ul {
  background: none;
}
nav ul ul li {
  display: none;
}
nav ul > li:hover > ul {
  background: ;
  display: flex;
}
nav ul > li:hover > ul li {
  display: flex;
}
ul.sub-menu {
  position: absolute;
  width: 250px;
  z-index: 99;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: flex-start;
  /*-------
  header
---------*/
}
ul.sub-menu:hover {
  display: flex;
}
ul.sub-menu li {
  background: ;
}
.header {
  background: url(./img/hero-home.jpg);
  color: #fff;
  padding: 10em;
  text-align: center;
  /*-------
  IDX Showcase
---------*/
}
.header h1 {
  color: #fff;
  font-size: 38px;
  margin: 0;
}
.header h2 {
  color: #fff;
  margin: 0 0 1em 0;
  font-size: 22px;
}
.new_showcase {
  padding: 20px;
  border-radius: 15px;
}
.IDX-showcaseContainer {
  height: auto !important;
}
#IDX-showcaseGallery-9796 .IDX-showcaseCell div {
  text-align: center;
  background: #fff;
}
#IDX-quicksearch-8068 {
  text-align: left;
  /*-------
  footer
---------*/
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background: #000;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  /*-------
Media queries
---------*/
}
@media only screen and (min-width: 660px) {
  main {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }
  .right_content {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 21%;
    margin: 15px;
    color: #000;
  }
}
