@import './partials/quick-search.scss';

$primary-color: #e5e5e5;
$white: #fff;
$black: #000;
$main-font-size: 16px;
$header-color: $white;
$home-hero: url(./img/hero-home.jpg);
$gray: #999;
$background: #f5f5f5;
$border-radius:15px;

/*-------
  header
---------*/

.header{
  background: $primary-color;
  background: $home-hero;
  color: $header-color;
  padding: 10em;
  text-align: center;

  h1 {
    color: $header-color;
    font-size: $main-font-size + 22;
    margin: 0;
  }

  h2 {
    color: $header-color;
    margin: 0 0 1em 0;
    font-size: $main-font-size + 6;
  }

}

/*-------
  nav
---------*/
nav {
background: $gray;
a{ 
  color:$white;
font-size: $main-font-size;
 font-weight: bold;
 float: left;
  padding: 20px;
}
  ul {
    display: flex;
    flex-direction: row;
    //width: 100%;
   
    list-style: none;
    justify-content: flex-end;
    margin: 0px;

    li {
      padding: 0px 15px;
      display: flex;
      flex-wrap: wrap;

      a {
        color: $white;
        font-size: $main-font-size;
        font-weight: bold;
      }

    }

    ul{
      background:none;
      li {
        display:none;
      }
    }

  }

}
nav ul > li:hover > ul {
  background: $gray;
   display: flex;
 }

nav ul > li:hover > ul li {
  display: flex;
}

ul.sub-menu {

  position: absolute;
  width: 250px;
  z-index: 99;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: flex-start;
    &hover{display:flex;}
  li{background: $gray;}
}


/*-------
  body
---------*/
@media (min-width: 660px) {

main {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    
}
.right_content {
    padding:10px;
    display: flex;
    justify-content: flex-end;
    width: 21%;
    margin: 15px;
    color:#000;
  }
}
/*-------
  IDX Showcase
---------*/

.new_showcase {
  //width: 100%;
  padding: 20px;
  background: $background;
  border-radius: $border-radius;
}

.IDX-showcaseContainer {
  height: auto!important;
}
#IDX-showcaseGallery-9796 .IDX-showcaseCell div {
  text-align: center;
  background: $white;
}

#IDX-quicksearch-8068 {
    text-align: left; 
}

/*-------
  footer
---------*/

.footer {
  display: flex;
  justify-content: center;
  font-size:$main-font-size;
  background: $black;
  padding: 20px;
  color: $white;
  font-weight:bold;

}