/* MISC > to be moved ... */
.IDX-quicksearchWrapper {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 2em;
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.72);
}
.IDX-quicksearchWrapper .IDX-qsInput {
  border: none;
  padding: 0.5em 1em;
}
.IDX-quicksearchWrapper #IDX-quicksearchForm-12672 {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
}
.IDX-quicksearchWrapper .IDX-qsLabel {
  display: block;
  padding-bottom: 0.5em;
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: bold;
}
.IDX-quicksearchWrapper .IDX-qsSelectInput {
  height: 25px;
}
.IDX-quicksearchWrapper #IDX-qsSubmit-12672[type='submit'] {
  background: #169679;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
}
.IDX-quicksearchWrapper #IDX-qsSubmit-12672[type='submit']:hover {
  background: #fff;
  color: #169679;
}
#IDX-quicksearchForm-12672 .IDX-qsInput {
  margin: 0 2px;
  width: 100px;
}
.boxes {
  display: flex;
  position: relative;
  padding: 5em 2em 2em 2em;
  margin-bottom: 2em;
  justify-content: space-around;
  text-align: center;
}
.boxes h3 {
  font-size: 18px;
}
.boxes p {
  font-size: 14px;
}
.boxes a {
  color: #169679;
  background: #fff;
  border-radius: 0.25em;
  border: 2px solid #169679;
  display: inline-block;
  font-weight: normal;
  margin: 1em auto 0;
  padding: 1em 2em;
  font-size: 1.5rem;
  line-height: 1em;
}
.boxes a:hover {
  color: #fff;
  background: #169679;
}
.box {
  position: relative;
  margin: 2em;
  padding: 30px 15px 40px;
  min-width: 300px;
  max-width: 400px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.box:before {
  display: inline-block;
  position: absolute;
  background: #fff;
  width: 75px;
  height: 75px;
  top: -15%;
  margin-left: -10%;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  font-family: FontAwesome;
  line-height: 75px;
  font-size: 35px;
  color: #169679;
}
.box:first-child:before {
  content: "\f19c";
}
.box:nth-child(2):before {
  content: "\f1ad";
}
.box:last-child:before {
  content: "\f015";
}
.box:hover:before {
  background: #169679;
  color: #fff;
}
@media only screen and (max-width: 660px) {
  .boxes {
    flex-direction: column;
  }
}
#IDX-carouselGallery-11486 {
  width: 100%;
}
#IDX-carouselGallery-11486 .IDX-carouselCell {
  min-width: 140px;
}
#IDX-carouselGallery-11486 .IDX-carouselContainer {
  height: auto;
}
#IDX-carouselGallery-11486 .IDX-carouselContainer .IDX-carouselLink {
  height: auto;
}
#IDX-carouselGallery-11486 .IDX-carouselContainer .IDX-carouselLink:before {
  height: auto;
}
#IDX-carouselGallery-11486 .IDX-carouselPhoto {
  max-height: 100% !important;
}
#IDX-carouselGallery-11486 a.IDX-carouselArrow {
  opacity: 0.75;
}
#IDX-carouselGallery-11486 {
  display: inline-block;
  font-size: 11px;
  position: relative;
}
#IDX-carouselGallery-11486 .IDX-outerCarouselWrapper {
  overflow: hidden;
}
#IDX-carouselGallery-11486 .IDX-innerCarouselWrapper {
  position: relative;
  overflow: hidden;
}
#IDX-carouselGallery-11486 .IDX-carouselCell {
  display: none;
  border: 1px solid #666;
  -webkit-box-shadow: 1px 1px 3px rgba(22, 22, 22, .4);
  box-shadow: 1px 1px 3px rgba(22, 22, 22, .4);
  padding: 3px;
  vertical-align: top;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
#IDX-carouselGallery-11486 .IDX-carouselLink {
  height: 100%;
  width: 100%;
  font-size: 0;
  text-align: center;
  display: inline-block;
}
#IDX-carouselGallery-11486 .IDX-carouselLink:before {
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
#IDX-carouselGallery-11486 .IDX-carouselPhoto {
  max-width: 100%;
  max-height: 110px;
  display: inline-block;
  vertical-align: middle;
}
#IDX-carouselGallery-11486 a.IDX-carouselArrow {
  display: block;
  position: absolute;
  background: #169679;
  width: 40px;
  text-decoration: none;
  text-align: center;
  height: 100%;
  top: 0;
}
#IDX-carouselGallery-11486 a.IDX-carouselPrevArrow {
  left: 0;
}
#IDX-carouselGallery-11486 a.IDX-carouselNextArrow {
  right: 0;
}
#IDX-carouselGallery-11486 a.IDX-carouselArrow, #IDX-carouselGallery-11486 a.IDX-carouselArrow:hover, #IDX-carouselGallery-11486 a.IDX-carouselArrow:visited {
  color: #fff;
  font-size: 20px;
}
#IDX-carouselGallery-11486 a.IDX-carouselPrevArrow {
  border-radius: 5px 0 0 5px;
}
#IDX-carouselGallery-11486 a.IDX-carouselNextArrow {
  border-radius: 0 5px 5px 0;
}
#IDX-carouselGallery-11486 a.IDX-carouselArrow span {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -50%;
}
#IDX-carouselGallery-11486 .IDX-carouselCell div {
  text-align: center;
}
#IDX-carouselGallery-11486 .IDX-carouselListingID, #IDX-carouselGallery-11486 .IDX-carouselBeds, #IDX-carouselGallery-11486 .IDX-carouselBaths, #IDX-carouselGallery-11486 .IDX-carouselFull, #IDX-carouselGallery-11486 .IDX-carouselPartial, #IDX-carouselGallery-11486 .IDX-carouselRemarks, #IDX-carouselGallery-11486 .IDX-carouselDisclaimerLink, #IDX-carouselGallery-11486 .IDX-carouselStatus, #IDX-carouselGallery-11486 .IDX-carouselStateAbrv {
  display: none;
}
#IDX-carouselGallery-11486 .IDX-carouselContainer {
  position: relative;
}
#IDX-carouselGallery-11486 .IDX-showcaseCourtesy {
  display: block;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h2 {
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  /*-------
  nav
---------*/
}
h2:after {
  content: "";
  height: 1px;
  display: block;
  border-top: 3px solid #169679;
  width: 100%;
  max-width: 4%;
  margin: 0.5em auto 0 auto;
}
nav {
  background: #fff;
}
nav a {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding: 20px;
}
nav a:hover {
  color: #169679;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  margin: 0px;
}
nav ul li {
  padding: 0px 15px;
  display: flex;
  flex-wrap: wrap;
}
nav ul li a {
  font-size: 16px;
  font-weight: bold;
}
nav ul ul {
  background: none;
}
nav ul ul li {
  display: none;
}
nav ul > li:hover > ul {
  background: #fff;
  display: flex;
}
nav ul > li:hover > ul li {
  display: flex;
}
ul.sub-menu {
  position: absolute;
  z-index: 99;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: flex-start;
  /*-------
  header
---------*/
}
ul.sub-menu:hover {
  display: flex;
}
.header {
  background: url(./img/hero-home.jpg);
  color: #fff;
  padding: 10em;
  text-align: center;
  /*-------
  IDX Showcase
---------*/
}
.header h1 {
  color: #fff;
  font-size: 38px;
  margin: 0;
}
.header h2 {
  color: #fff;
  margin: 0 0 1em 0;
  font-size: 22px;
}
.new_showcase {
  padding: 20px;
  border-radius: 15px;
}
.IDX-showcaseContainer {
  height: auto !important;
}
#IDX-showcaseGallery-9796 .IDX-showcaseCell div {
  text-align: center;
  background: #fff;
}
#IDX-quicksearch-8068 {
  text-align: left;
  /*-------
  footer
---------*/
}
.footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background: #000;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  /*-------
Media queries
---------*/
}
@media only screen and (min-width: 660px) {
  main {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }
  .right_content {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 21%;
    margin: 15px;
    color: #000;
  }
}
