@import './partials/partials';

/* MISC > to be moved ... */
$main-font-size: 16px;
$home-hero: url(./img/hero-home.jpg);
$border-radius: 15px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-weight: normal;
  font-size: $main-font-size * 2;
  text-align: center;
  text-transform: uppercase;

  &:after {
    content: "";
    height: 1px;
    display: block;
    border-top: 3px solid $green;
    width: 100%;
    max-width: 4%;
    margin: .5em auto 0 auto;
  }

}

/*-------
  nav
---------*/
nav {
  background: $white;

  a {
    color: $black;
    font-size: $main-font-size;
    font-weight: bold;
    float: left;
    padding: 20px;

    &:hover {
      color: $green;
    }

  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: 0px;

    li {
      padding: 0px 15px;
      display: flex;
      flex-wrap: wrap;

      a {
        font-size: $main-font-size;
        font-weight: bold;
      }

    }

    ul {
      background:none;

      li {
        display:none;
      }

    }

  }

}

nav ul > li:hover > ul {
  background: $white;
  display: flex;
 }

nav ul > li:hover > ul li {
  display: flex;
}

ul.sub-menu {
  position: absolute;
  z-index: 99;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: flex-start;

  &:hover {
    display:flex;
  }
}

/*-------
  header
---------*/

.header{
  background: $home-hero;
  color: $header-color;
  padding: 10em;
  text-align: center;

  h1 {
    color: $header-color;
    font-size: $main-font-size + 22;
    margin: 0;
  }

  h2 {
    color: $header-color;
    margin: 0 0 1em 0;
    font-size: $main-font-size + 6;
  }

}

/*-------
  IDX Showcase
---------*/
.new_showcase {
  padding: 20px;
  border-radius: $border-radius;
}

.IDX-showcaseContainer {
  height: auto!important;
}

#IDX-showcaseGallery-9796 .IDX-showcaseCell div {
  text-align: center;
  background: $white;
}

#IDX-quicksearch-8068 {
    text-align: left;
}

/*-------
  footer
---------*/

.footer {
  display: flex;
  justify-content: center;
  font-size:$main-font-size;
  background: $black;
  padding: 20px;
  color: $white;
  font-weight:bold;
}

/*-------
Media queries
---------*/
@media only screen and (min-width: 660px) {

  main {
    display: flex;
    justify-content: flex-start;
    width: 75%;
  }

  .right_content {
    padding:10px;
    display: flex;
    justify-content: flex-end;
    width: 21%;
    margin: 15px;
    color:#000;
  }

}
