<div class="new_showcase">
<h1>Featured Showcase</h1>
<script charset="UTF-8" type="text/javascript" id="idxwidgetsrc-9796" src="http://ColoradoCarl.idxbroker.com/idx/customshowcasejs.php?widgetid=9796"></script>
<!-- <iframe Src="http://coloradocarl.idxbroker.com/idx/map/mapsearch" Width="100%" Height="100%" Frameborder="0"></iframe. -->
</div>